.viewer {
  position: relative;
  
  &.full-screen {
    position: absolute;
    top: 2.3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .65);
    transition: background-color 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 10;

    .track {
      transition: transform 1s;

      > div {
        max-width: 100vw;
        flex: 1 0 100%;
        text-align: center;

        img {
          max-height: calc(100vh - 6rem);
          max-width: 100%;
        }
      }
    }
  }

  &:not(.full-screen) .track {
    transform: translateX(0px) !important;
  }

  .icon {
    position: absolute;
    cursor: pointer;
    padding: 0 .5rem;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
    opacity: .7;
    z-index: 10;

    &.toggle {
      top: 0;
      right: 0;
    }

    &.next {
      top: 50%;
      right: 0;
      opacity: .5;
      transform: translateY(-50%);
      padding: 3rem .25rem;
    }

    &.prev {
      top: 50%;
      left: 0;
      opacity: .5;
      transform: translateY(-50%);
      padding: 3rem .25rem;
    }
  }

  .track {
    display: flex;
    align-items: center;
  }
}