<p>contact-page</p>
<p>{{ forecast$ | async | json }}</p>

<section class="section shrink-wrap">
  <h2>Profiles</h2>
  <nav class="logos">
    <a href="https://stackoverflow.com/users/2798367/ne1410s" target="_blank">
      <img src="assets/follow/stackoverflow.svg" alt="stack overflow logo" />
    </a>
    <a href="https://www.linkedin.com/in/ne1410s/" target="_blank">
      <img src="assets/follow/linkedin.svg" alt="linkedin logo" />
    </a>
    <a href="https://github.com/ne1410s" target="_blank">
      <img src="assets/follow/github.svg" alt="github logo" />
    </a>
    <a href="https://www.npmjs.com/~ne1410s" target="_blank">
      <img src="assets/follow/npm.svg" alt="npm logo" />
    </a>
  </nav>
</section>