<section class="score">
  <p>15 - 0</p>
</section>

<section class="section">
  <h2>About me</h2>
  <p>Whether it's shading a <code>&lt;div&gt;</code>, transforming a <code>byte[]</code>, running
    <code>sp_executesql</code>, or <code>ACK</code>ing a message... I <i>love</i> to code.
  </p>
  <p>I literally eat sleep and breathe the stuff!</p>
  <p>The only thing that takes the cake above coding is close family (well most of the time :D)</p>
  <p>My hope for future generations is that in the wake of all the paradigm shifts, all the life-affirming pleasure I
    have
    found in technology will remain available to them.</p>
  <p>In order to survive, we must embrace change.</p>
</section>

<section class="section">
  <h2>Teasers</h2>
  <p>Ok, enough apocalpytic talk. Here's some teasers!</p>
  <app-image-viewer [images]="teaserImages" />
</section>

<section class="section shrink-wrap">
  <h2>Continue?</h2>
  <p>Click <a routerLink="/projects">here</a> to find out more about these (and other) projects.</p>
</section>