<h2>About me</h2>

<p>Whether it's shading a <code>&lt;div&gt;</code>, transforming a <code>byte[]</code>, running <code>sp_executesql</code>, or <code>ACK</code>ing a message... I <i>love</i> to code.</p>
<p>I literally eat sleep and breathe the stuff!</p>
<p>The only thing that takes the cake above coding is close family (well most of the time :D)</p>
<p>My hope for future generations is that in the wake of all the paradigm shifts, all the life-affirming pleasure I have found in technology will remain available to them.</p>
<p>In order to survive, we must embrace change.</p>

<h2>Teasers</h2>

<p>Ok, enough apocalpytic talk. Here's some teasers!</p>

<section class="teasers">
  <a routerLink="/projects/comanche">
    <img src="assets/projects/comanche-av.png" alt="comanche av teaser"/>
  </a>
  <a routerLink="/projects/custom-elements">
    <img src="assets/projects/menu-griddler.png" alt="menu griddler teaser"/>
  </a>
  <a routerLink="/projects/fluent-errors">
    <img src="assets/projects/fluent-errors.png" alt="fluent errors teaser"/>
  </a>
  <a routerLink="/projects/griddler">
    <img src="assets/projects/griddler.gif" alt="griddler teaser"/>
  </a>
</section>

<p>Find out more about my <a routerLink="/projects">projects</a>.</p>