<a routerLink="/">ne1410s</a>
<ul>
  <li><a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
  <li><a routerLink="/about" routerLinkActive="selected">About</a></li>
  <li>
    <a routerLink="/projects" routerLinkActive="selected">Projects</a>
    <ul>
      <li><a routerLink="/projects/acme" routerLinkActive="selected">Acme</a></li>
      <li><a routerLink="/projects/comanche" routerLinkActive="selected">Comanche</a></li>
      <li><a routerLink="/projects/crypto-stream" routerLinkActive="selected">Crypto Stream</a></li>
      <li><a routerLink="/projects/custom-elements" routerLinkActive="selected">Custom Elements</a></li>
      <li><a routerLink="/projects/fluent-errors" routerLinkActive="selected">Fluent Errors</a></li>
      <li><a routerLink="/projects/griddler" routerLinkActive="selected">Griddler</a></li>
      <li><a routerLink="/projects/libra" routerLinkActive="selected">Libra</a></li>
      <li><a routerLink="/projects/psr" routerLinkActive="selected">PSR</a></li>
    </ul>
  </li>
  <li><a routerLink="/contact" routerLinkActive="selected">Contact</a></li>
</ul>