:host {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  background-color: rgba(255, 255, 255, .8);

  ul {
    display: none;
    position: absolute;
  }

  &:hover > ul {
    display: block;
  }
}

a {
  display: block;
  text-decoration: none;
  padding: .5rem 1rem;

  &:is(ul a) {

    &:hover {
      background-color: #eee;
    }

    &.selected {
      color: var(--accent-1-hue);

      &:is(ul ul a) {
        color: var(--accent-2-hue);
      }
    }
  }
}

@media screen and (max-width: 479px) {
  :host {
    flex-direction: column;
    text-align: center;

    > ul > li:not(:first-child) {
      border-top: 1px solid var(--body-hue-lt);
    }
  }

  ul {
    flex-direction: column;
  }

  li ul {
    position: relative;
  }

  a {
    padding: .5rem;
  }
}