:host {
  height: 100%;
  position: relative;
}

.logo {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .5rem;
  color: #fff;
  margin: 5rem 0;
}

.court-scene {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  perspective: 800px;
  animation: track-baseline 7s linear 2 10s;
  overflow: hidden;

  img {
    max-height: calc(100vh - 6rem);
    animation: swoop-down 8s ease-in 2s forwards;
    background-color: #0b0;
  }
}

.ball {
  text-align: center;
  position: relative;
  
  img {
    width: 100px;
    border-radius: 100%;
    box-shadow: .5rem .2rem 1rem rgba(0, 0, 0, .3);
    transition: box-shadow .6s;

    &:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, .3);
    }
  }
}

@keyframes track-baseline {
  0% { perspective-origin: 50% 50%; }
  25% { perspective-origin: 60% 50%; }
  75% { perspective-origin: 40% 50%; }
}

@keyframes swoop-down {
  0% { transform: rotateX(0deg); }
  20% { transform: rotateX(60deg); }
  80% { transform: rotateX(60deg) rotateZ(180deg); }
  100% { transform: rotateX(70deg) rotateZ(180deg); }
}