<section>
  <h2>Some of my work</h2>
  <p>
    Each one of these projects was borne of a particular scenario in which I was
    left wanting for a solution to an immediate problem I was faced with, and
    for which no off-the-shelf solutions were quite up to it (well at least not
    at the time).
  </p>
  <p>
    They all beckoned to me like a maneki-neko and each of them delivered to me
    at least one profound revelation. (I am always eager to discuss any of them
    to the most technical of depths imaginable).
  </p>
</section>

<app-projects-table/>